{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "Coverwallet OpenAPI",
    "x-logo": {
      "url": "https://www.coverwallet.com/assets/new-home/coverwallet_logo_negative-1ab94c362a7dcbf886eb51f48ff0d784cff7c5b45eeaa43a508bf359a02f2b29.svg",
      "backgroundColor": "#428ad8"
    },
    "description": "<strong>Disclaimer: </strong>\nThe API described in this page is not production-ready and is subject to change without previous notice.\n\n### Authentication\n\nAll endpoints - except the access token generation - require the\nAPI client to send a valid access token in the `Authorization` header.\nThis token is obtained using the [authentication endpoint](#/Authentication/get_access_token)\nand expires after 30 minutes. A new access token can be generated at any time,\nwhen the previous one has expired. Generating a new access token does not expire\nany existing token, so multiple valid access token can coexist.\n\n### Idempotency\n\nSome endpoints require the API client to send an idempotency key in the `X-IdempotencyKey`\nheader to uniquely identify a request.\n\n### Error handling\n\nAll errors returned by the API endpoints follow the same structure:\n* **source**: Indicates the field or operation where the error happened. Usually, it contains the name of a field where a validation error happened.\n* **type**: A string with capital letters that identifies the kind of error that happened. The description of every error type can be found in the table below.\n* **message**: A human-readable description of the error. This description may change over time to make it more comprehensible, so it should not be used by API clients to understand the error that happened.\n\n```\n  {\n    \"source\": \"industry\",\n    \"type\": \"VALIDATION\",\n    \"message\": \"Industry Subindustry is not a valid UUID\"\n  }\n```\n\n<details>\n| Error type        | Description                                                                                                                                                                       |\n|------------------ |---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  |\n| VALIDATION        | The data provided in the request is not valid according to the documentation. The field where the violation happened should be described in the `source` property of the error.     |\n| MISSING_PARAMETER | A required parameter was not sent to the API.\n| DUPLICATED        | The data provided in the request is not valid according to the documentation. Some fields should be unique.  |\n| INTERNAL_SERVER_ERROR | An error happened in the API servers. The system administrator has been notified. |\n| RECORD_NOT_FOUND | The record cannot be found in our system. Please, make sure that the identifier of the record is correct. |\n| MISSING_SCOPE | The scope(s) needed to use a certain endpoint cannot be found in the access token. Please, make sure that your user has access to the scope needed in that endpoint, and it is requested during the API login process |\n| INVALID_SCOPE | At least one of the requested scopes is invalid, unknown, malformed, or not granted to the application |\n| INVALID_TOKEN | The access token is not correct, a new one needs to be requested. This error normally happens when the original access token expires after 30 minutes. |\n| MISSING_IDEMPOTENCY_KEY | The idempotency key is missing. Please, make sure to set X-IdempotencyKey header for this endpoint. |\n| REUSED_IDEMPOTENCY_KEY | The provided idempotency key has already been used in another request with a different body. |\n</details>\n"
  },
  "tags": [
    { "name": "Account", "description": "Operations about account" },
    { "name": "Policy", "description": "Operations about policy" },
    { "name": "Certificates", "description": "Operations about certificates" },
    { "name": "Quote", "description": "Operations about quote" },
    { "name": "Endorsements", "description": "Changes about policy" },
    {
      "name": "Catalog",
      "description": "Operations to request misc resources"
    },
    {
      "name": "Authentication",
      "description": "Operations to request access token"
    },
    {
      "name": "Subscriptions",
      "description": "Configuration of event subscriptions"
    },
    {
      "name": "Payment methods",
      "description": "Configuration of payment methods"
    },
    { "name": "Syncronizations", "description": "Certificate syncronization" }
  ],
  "servers": [
    { "url": "https://public-api.aoncover.biz/v1" },
    { "url": "https://public-api.coveriq.info/v1" }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get an access token",
        "description": "Exchange your email and password by an access token that can be used to authenticate subsequent requests.",
        "operationId": "get_access_token",
        "requestBody": {
          "description": "Get an access token",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "grant_type": {
                        "type": "string",
                        "example": "password",
                        "enum": ["password"]
                      },
                      "username": {
                        "type": "string",
                        "example": "foo@bar.com"
                      },
                      "password": {
                        "type": "string",
                        "format": "password",
                        "example": "my-secret-password"
                      },
                      "scope": {
                        "type": "string",
                        "example": "admin:account admin:policy",
                        "description": "A list of scopes required for this access token. If no scope is provided, all available scopes will be included."
                      }
                    },
                    "required": ["grant_type", "username", "password"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "grant_type": {
                        "type": "string",
                        "example": "client_credentials",
                        "enum": ["client_credentials"]
                      },
                      "client_id": { "type": "string", "format": "uuid" },
                      "client_secret": {
                        "type": "string",
                        "format": "password"
                      },
                      "scope": {
                        "type": "string",
                        "example": "admin:account admin:policy",
                        "description": "A list of scopes required for this access token. If no scope is provided, all available scopes will be included."
                      }
                    },
                    "required": ["grant_type", "client_id", "client_secret"]
                  }
                ]
              },
              "examples": {
                "resource_owner_credentials": {
                  "summary": "Resource owner credentials",
                  "value": {
                    "grant_type": "password",
                    "username": "foo@bar.com",
                    "password": "p4ssw0rd",
                    "scope": "admin:account"
                  }
                },
                "client_credentials": {
                  "summary": "Client credentials",
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "54f52c33-61ed-46d4-8796-eb8a30e90fe0",
                    "client_secret": "hNObhQFv5M82euBYzaxo0b9fyl8cs1CWBWHE4_sThXQ",
                    "scope": "admin:account"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Access token successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "A JWT access token that should be included as a Bearer token in the Authorization header of subsequent requests"
                    },
                    "token_type": { "type": "string", "example": "Bearer" },
                    "expires_in": {
                      "type": "integer",
                      "example": 1800,
                      "description": "The expiration time since the access token was created, in seconds"
                    },
                    "scope": {
                      "type": "string",
                      "example": "admin:account admin:policy",
                      "description": "The list of scopes present in the access token"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1613989930,
                      "description": "The UTC representation of the moment when the access token was created. It should be used together with the expires_in parameter to determine when an access token is going to expire"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The data provided is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The authentication information sent is incorrect or missing",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "There was an error in our servers",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "tags": ["Account"],
        "summary": "Add a new account",
        "description": "Add a new account",
        "operationId": "add_account",
        "security": [{ "oauth2": ["admin:account"] }],
        "parameters": [
          {
            "in": "header",
            "name": "X-IdempotencyKey",
            "description": "Idempotency key to uniquely identify a request",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Create a new account",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "example": "684365684_2020",
                    "description": "Account ID"
                  },
                  "business_information": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "My Business Name"
                      },
                      "type": {
                        "type": "string",
                        "example": "Individual",
                        "description": "Type of company:\n  * May be one of the following: Individual, Corporation, LLC, LP, etc\n"
                      },
                      "website": {
                        "type": "string",
                        "example": "www.mybusiness.com"
                      },
                      "identification_number": {
                        "type": "string",
                        "example": "1213453-X"
                      },
                      "year_established": {
                        "type": "number",
                        "format": "int32",
                        "example": 2020
                      },
                      "annual_revenue": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                            "format": "int32",
                            "example": 9995
                          },
                          "currency": {
                            "type": "string",
                            "description": "3 letter currency code as defined by ISO-4217",
                            "format": "iso-4217",
                            "example": "USD"
                          }
                        },
                        "required": ["amount", "currency"]
                      },
                      "fulltime_employees": {
                        "type": "integer",
                        "format": "int32",
                        "example": 5
                      },
                      "parttime_employees": {
                        "type": "integer",
                        "format": "int32",
                        "example": 10
                      }
                    },
                    "required": ["name"]
                  },
                  "industry": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["sic", "naics", "naf", "anzsic"],
                        "description": "Industry classification system"
                      },
                      "class_code": {
                        "type": "string",
                        "example": "cc1",
                        "description": "Class Code of the industry"
                      },
                      "subclass_code": {
                        "type": "string",
                        "example": "scc1",
                        "description": "Subclass Code of the industry"
                      }
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "billing",
                          "enum": ["mailing", "billing"]
                        },
                        "address_line": {
                          "type": "string",
                          "description": "Street number and street name",
                          "example": "935 Madison Ave"
                        },
                        "city": { "type": "string", "example": "New York" },
                        "state": { "type": "string", "example": "NY" },
                        "country_code": {
                          "type": "string",
                          "description": "Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n",
                          "example": "US"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "Postcode or ZIP code of an address",
                          "example": "10065"
                        }
                      },
                      "required": ["address_line"]
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "sample_mail@mail.com",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "+61285993444",
                    "description": "Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" }
                          },
                          "required": ["id"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "external_id": {
                              "type": "string",
                              "example": "684365684_2020",
                              "description": "Account ID"
                            },
                            "business_information": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "My Business Name"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "Individual",
                                  "description": "Type of company:\n  * May be one of the following: Individual, Corporation, LLC, LP, etc\n"
                                },
                                "website": {
                                  "type": "string",
                                  "example": "www.mybusiness.com"
                                },
                                "identification_number": {
                                  "type": "string",
                                  "example": "1213453-X"
                                },
                                "year_established": {
                                  "type": "number",
                                  "format": "int32",
                                  "example": 2020
                                },
                                "annual_revenue": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                "fulltime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 5
                                },
                                "parttime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 10
                                }
                              },
                              "required": ["name"]
                            },
                            "industry": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["sic", "naics", "naf", "anzsic"],
                                  "description": "Industry classification system"
                                },
                                "class_code": {
                                  "type": "string",
                                  "example": "cc1",
                                  "description": "Class Code of the industry"
                                },
                                "subclass_code": {
                                  "type": "string",
                                  "example": "scc1",
                                  "description": "Subclass Code of the industry"
                                }
                              }
                            },
                            "addresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "default": "billing",
                                    "enum": ["mailing", "billing"]
                                  },
                                  "address_line": {
                                    "type": "string",
                                    "description": "Street number and street name",
                                    "example": "935 Madison Ave"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "New York"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "NY"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "description": "Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n",
                                    "example": "US"
                                  },
                                  "postal_code": {
                                    "type": "string",
                                    "description": "Postcode or ZIP code of an address",
                                    "example": "10065"
                                  }
                                },
                                "required": ["address_line"]
                              }
                            },
                            "email": {
                              "type": "string",
                              "example": "sample_mail@mail.com",
                              "format": "email"
                            },
                            "phone_number": {
                              "type": "string",
                              "example": "+61285993444",
                              "description": "Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The data provided is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Duplicated external_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "An account with this external_id already exist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": ["Account"],
        "summary": "Fetch an account",
        "description": "Fetch an existing account by ID.",
        "operationId": "get_account",
        "security": [{ "oauth2": ["admin:account"] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "The ID of the account you are looking for"
          }
        ],
        "responses": {
          "200": {
            "description": "Account successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" }
                          },
                          "required": ["id"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "external_id": {
                              "type": "string",
                              "example": "684365684_2020",
                              "description": "Account ID"
                            },
                            "business_information": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "My Business Name"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "Individual",
                                  "description": "Type of company:\n  * May be one of the following: Individual, Corporation, LLC, LP, etc\n"
                                },
                                "website": {
                                  "type": "string",
                                  "example": "www.mybusiness.com"
                                },
                                "identification_number": {
                                  "type": "string",
                                  "example": "1213453-X"
                                },
                                "year_established": {
                                  "type": "number",
                                  "format": "int32",
                                  "example": 2020
                                },
                                "annual_revenue": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                "fulltime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 5
                                },
                                "parttime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 10
                                }
                              },
                              "required": ["name"]
                            },
                            "industry": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["sic", "naics", "naf", "anzsic"],
                                  "description": "Industry classification system"
                                },
                                "class_code": {
                                  "type": "string",
                                  "example": "cc1",
                                  "description": "Class Code of the industry"
                                },
                                "subclass_code": {
                                  "type": "string",
                                  "example": "scc1",
                                  "description": "Subclass Code of the industry"
                                }
                              }
                            },
                            "addresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "default": "billing",
                                    "enum": ["mailing", "billing"]
                                  },
                                  "address_line": {
                                    "type": "string",
                                    "description": "Street number and street name",
                                    "example": "935 Madison Ave"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "New York"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "NY"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "description": "Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n",
                                    "example": "US"
                                  },
                                  "postal_code": {
                                    "type": "string",
                                    "description": "Postcode or ZIP code of an address",
                                    "example": "10065"
                                  }
                                },
                                "required": ["address_line"]
                              }
                            },
                            "email": {
                              "type": "string",
                              "example": "sample_mail@mail.com",
                              "format": "email"
                            },
                            "phone_number": {
                              "type": "string",
                              "example": "+61285993444",
                              "description": "Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The data provided is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Account"],
        "summary": "Update an account",
        "description": "Update an existing account. All fields are optional.",
        "operationId": "update_account",
        "security": [{ "oauth2": ["admin:account"] }],
        "parameters": [
          {
            "in": "header",
            "name": "X-IdempotencyKey",
            "description": "Idempotency key to uniquely identify a request",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The account ID"
          }
        ],
        "requestBody": {
          "description": "Update an account",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "example": "684365684_2020",
                    "description": "Account ID"
                  },
                  "business_information": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "My Business Name"
                      },
                      "type": {
                        "type": "string",
                        "example": "Individual",
                        "description": "Type of company:\n  * May be one of the following: Individual, Corporation, LLC, LP, etc\n"
                      },
                      "website": {
                        "type": "string",
                        "example": "www.mybusiness.com"
                      },
                      "identification_number": {
                        "type": "string",
                        "example": "1213453-X"
                      },
                      "year_established": {
                        "type": "number",
                        "format": "int32",
                        "example": 2020
                      },
                      "annual_revenue": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                            "format": "int32",
                            "example": 9995
                          },
                          "currency": {
                            "type": "string",
                            "description": "3 letter currency code as defined by ISO-4217",
                            "format": "iso-4217",
                            "example": "USD"
                          }
                        },
                        "required": ["amount", "currency"]
                      },
                      "fulltime_employees": {
                        "type": "integer",
                        "format": "int32",
                        "example": 5
                      },
                      "parttime_employees": {
                        "type": "integer",
                        "format": "int32",
                        "example": 10
                      }
                    },
                    "required": ["name"]
                  },
                  "industry": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["sic", "naics", "naf", "anzsic"],
                        "description": "Industry classification system"
                      },
                      "class_code": {
                        "type": "string",
                        "example": "cc1",
                        "description": "Class Code of the industry"
                      },
                      "subclass_code": {
                        "type": "string",
                        "example": "scc1",
                        "description": "Subclass Code of the industry"
                      }
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "billing",
                          "enum": ["mailing", "billing"]
                        },
                        "address_line": {
                          "type": "string",
                          "description": "Street number and street name",
                          "example": "935 Madison Ave"
                        },
                        "city": { "type": "string", "example": "New York" },
                        "state": { "type": "string", "example": "NY" },
                        "country_code": {
                          "type": "string",
                          "description": "Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n",
                          "example": "US"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "Postcode or ZIP code of an address",
                          "example": "10065"
                        }
                      },
                      "required": ["address_line"]
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "sample_mail@mail.com",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "+61285993444",
                    "description": "Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" }
                          },
                          "required": ["id"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "external_id": {
                              "type": "string",
                              "example": "684365684_2020",
                              "description": "Account ID"
                            },
                            "business_information": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "My Business Name"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "Individual",
                                  "description": "Type of company:\n  * May be one of the following: Individual, Corporation, LLC, LP, etc\n"
                                },
                                "website": {
                                  "type": "string",
                                  "example": "www.mybusiness.com"
                                },
                                "identification_number": {
                                  "type": "string",
                                  "example": "1213453-X"
                                },
                                "year_established": {
                                  "type": "number",
                                  "format": "int32",
                                  "example": 2020
                                },
                                "annual_revenue": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                "fulltime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 5
                                },
                                "parttime_employees": {
                                  "type": "integer",
                                  "format": "int32",
                                  "example": 10
                                }
                              },
                              "required": ["name"]
                            },
                            "industry": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["sic", "naics", "naf", "anzsic"],
                                  "description": "Industry classification system"
                                },
                                "class_code": {
                                  "type": "string",
                                  "example": "cc1",
                                  "description": "Class Code of the industry"
                                },
                                "subclass_code": {
                                  "type": "string",
                                  "example": "scc1",
                                  "description": "Subclass Code of the industry"
                                }
                              }
                            },
                            "addresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "default": "billing",
                                    "enum": ["mailing", "billing"]
                                  },
                                  "address_line": {
                                    "type": "string",
                                    "description": "Street number and street name",
                                    "example": "935 Madison Ave"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "New York"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "NY"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "description": "Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n",
                                    "example": "US"
                                  },
                                  "postal_code": {
                                    "type": "string",
                                    "description": "Postcode or ZIP code of an address",
                                    "example": "10065"
                                  }
                                },
                                "required": ["address_line"]
                              }
                            },
                            "email": {
                              "type": "string",
                              "example": "sample_mail@mail.com",
                              "format": "email"
                            },
                            "phone_number": {
                              "type": "string",
                              "example": "+61285993444",
                              "description": "Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The corresponding object has not been found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/contacts": {
      "post": {
        "deprecated": true,
        "tags": ["Account"],
        "summary": "Add a contact. Deprecated in favor of \"POST /contacts\"",
        "description": "Add a contact",
        "operationId": "deprecated_add_contact",
        "security": [{ "oauth2": ["admin:account"] }],
        "parameters": [
          {
            "in": "header",
            "name": "X-IdempotencyKey",
            "description": "Idempotency key to uniquely identify a request",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The account ID"
          }
        ],
        "requestBody": {
          "description": "Update a contact",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": { "type": "string", "format": "uuid" },
                  "relationship": {
                    "type": "string",
                    "enum": ["primary", "driver", "owner", "other"],
                    "default": "primary"
                  },
                  "first_name": { "type": "string", "example": "firstName" },
                  "last_name": { "type": "string", "example": "lastName" },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sample_mail@mail.com"
                  },
                  "communications_opt_out": {
                    "type": "string",
                    "enum": ["email", "sms", "all", "none"],
                    "default": "none"
                  },
                  "contact_numbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "phone",
                            "extension",
                            "mobile",
                            "fax",
                            "other"
                          ]
                        },
                        "number": {
                          "type": "string",
                          "description": "A phone number in E.164 format",
                          "example": "+61285993444"
                        }
                      },
                      "required": ["type", "number"]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Contact successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" }
                          },
                          "required": ["id"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "account_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "relationship": {
                              "type": "string",
                              "enum": ["primary", "driver", "owner", "other"],
                              "default": "primary"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "firstName"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "lastName"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "sample_mail@mail.com"
                            },
                            "communications_opt_out": {
                              "type": "string",
                              "enum": ["email", "sms", "all", "none"],
                              "default": "none"
                            },
                            "contact_numbers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "phone",
                                      "extension",
                                      "mobile",
                                      "fax",
                                      "other"
                                    ]
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "A phone number in E.164 format",
                                    "example": "+61285993444"
                                  }
                                },
                                "required": ["type", "number"]
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The corresponding object has not been found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/servicing": {
      "post": {
        "tags": ["Account"],
        "summary": "Set servicing data",
        "description": "# Servicing API\n\nThe use of this API is to change the servicing information of an account. This can include changing any of this data:\n\n* Account owner\n* Account advisor\n* Account segmentation fiels: segment, branch and business unit\n\nWhen the account is successfully updated a http 200 response code is returned\n\nIf either the account, the advisor or the owner are not found, a 404 http error code is returned and the detail of what has not been found is provided in the error object\n",
        "operationId": "set_servicing",
        "security": [{ "oauth2": ["admin:account"] }],
        "requestBody": {
          "description": "New servicing data for the account",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_username": {
                    "type": "string",
                    "format": "email",
                    "description": "Account owner"
                  },
                  "advisor_username": {
                    "type": "string",
                    "format": "email",
                    "description": "Account advisor"
                  },
                  "business_unit": {
                    "type": "string",
                    "description": "Business unit where the account belongs to (e.g. Commercial, Affinities)",
                    "example": "Affinities"
                  },
                  "branch": {
                    "type": "string",
                    "description": "Branch where the account belongs to. Usually is is associated to a physical area",
                    "example": "Parramata"
                  },
                  "segment": {
                    "type": "string",
                    "description": "Segment where the account belongs to (e.g. RealEstate, SMEs, Professional)",
                    "example": "RealEstate"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "header",
            "name": "X-IdempotencyKey",
            "description": "Idempotency key to uniquely identify a request",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account servicing data successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "owner_username": {
                          "type": "string",
                          "format": "email",
                          "description": "Account owner"
                        },
                        "advisor_username": {
                          "type": "string",
                          "format": "email",
                          "description": "Account advisor"
                        },
                        "business_unit": {
                          "type": "string",
                          "description": "Business unit where the account belongs to (e.g. Commercial, Affinities)",
                          "example": "Affinities"
                        },
                        "branch": {
                          "type": "string",
                          "description": "Branch where the account belongs to. Usually is is associated to a physical area",
                          "example": "Parramata"
                        },
                        "segment": {
                          "type": "string",
                          "description": "Segment where the account belongs to (e.g. RealEstate, SMEs, Professional)",
                          "example": "RealEstate"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The corresponding object has not been found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies": {
      "post": {
        "tags": ["Policy"],
        "summary": "Add a new policy",
        "description": "This endpoints creates a new policy and returns the data of the policy created including the policy_id that needs to be used later for policy updates.\n\nThe external_id field should be unique\n",
        "operationId": "add_policy",
        "security": [{ "oauth2": ["admin:policy"] }],
        "parameters": [
          {
            "in": "header",
            "name": "X-IdempotencyKey",
            "description": "Idempotency key to uniquely identify a request",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "description": "Policy data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "external_id": {
                    "type": "string",
                    "example": "POL-9235325",
                    "description": "External policy id"
                  },
                  "policy_number": {
                    "type": "string",
                    "example": "200000096428",
                    "description": "Policy number"
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Coverwallet Id of the related account"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "Pre-bind",
                      "Active",
                      "Reinstated",
                      "In cancellation process",
                      "Expired",
                      "Flat Cancelled",
                      "Cancelled"
                    ],
                    "example": "Expired",
                    "description": "Policy status"
                  },
                  "effective_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Policy effective date"
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Policy expiration date"
                  },
                  "cancellation_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Policy cancellation date"
                  },
                  "premium": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                            "format": "int32",
                            "example": 9995
                          },
                          "currency": {
                            "type": "string",
                            "description": "3 letter currency code as defined by ISO-4217",
                            "format": "iso-4217",
                            "example": "USD"
                          }
                        },
                        "required": ["amount", "currency"]
                      },
                      { "description": "Policy net premium" }
                    ]
                  },
                  "taxes": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                            "format": "int32",
                            "example": 9995
                          },
                          "currency": {
                            "type": "string",
                            "description": "3 letter currency code as defined by ISO-4217",
                            "format": "iso-4217",
                            "example": "USD"
                          }
                        },
                        "required": ["amount", "currency"]
                      },
                      { "description": "Policy total taxes" }
                    ]
                  },
                  "fees": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                            "format": "int32",
                            "example": 9995
                          },
                          "currency": {
                            "type": "string",
                            "description": "3 letter currency code as defined by ISO-4217",
                            "format": "iso-4217",
                            "example": "USD"
                          }
                        },
                        "required": ["amount", "currency"]
                      },
                      { "description": "Policy total taxes" }
                    ]
                  },
                  "insurance_type": {
                    "type": "string",
                    "description": "ID of the insurance type",
                    "example": "5056"
                  },
                  "purchase_type": {
                    "type": "string",
                    "enum": [
                      "renewal_upload",
                      "renewal",
                      "new_business",
                      "cross_sell"
                    ],
                    "nullable": true,
                    "description": "Origin of the policy"
                  },
                  "renewal_flow": {
                    "type": "string",
                    "enum": ["auto", "nonauto"],
                    "description": "Renewal type",
                    "nullable": true
                  },
                  "billing_carrier_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the billing carrier"
                  },
                  "issuing_carrier_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the issuing carrier"
                  },
                  "finance_contract_number": {
                    "type": "string",
                    "example": "tCBalhle",
                    "description": "Finance Contract #"
                  },
                  "intermediary_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the intermediary"
                  },
                  "billing_type": {
                    "type": "string",
                    "enum": ["Direct", "Agency", "Unknown"],
                    "description": "Type of billing"
                  },
                  "invoiced_by": {
                    "type": "string",
                    "enum": [
                      "Carrier",
                      "Coverwallet",
                      "Premium Finance Company",
                      "External PAS",
                      "Account Current",
                      "Unknown"
                    ],
                    "description": "Type of billing"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Policy successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" }
                          },
                          "required": ["id"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" },
                            "external_id": {
                              "type": "string",
                              "example": "POL-9235325",
                              "description": "External policy id"
                            },
                            "policy_number": {
                              "type": "string",
                              "example": "200000096428",
                              "description": "Policy number"
                            },
                            "account_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Coverwallet Id of the related account"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "Pre-bind",
                                "Active",
                                "Reinstated",
                                "In cancellation process",
                                "Expired",
                                "Flat Cancelled",
                                "Cancelled"
                              ],
                              "example": "Expired",
                              "description": "Policy status"
                            },
                            "effective_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Policy effective date"
                            },
                            "expiration_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Policy expiration date"
                            },
                            "cancellation_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Policy cancellation date"
                            },
                            "premium": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                { "description": "Policy net premium" }
                              ]
                            },
                            "taxes": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                { "description": "Policy total taxes" }
                              ]
                            },
                            "fees": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                      "format": "int32",
                                      "example": 9995
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "3 letter currency code as defined by ISO-4217",
                                      "format": "iso-4217",
                                      "example": "USD"
                                    }
                                  },
                                  "required": ["amount", "currency"]
                                },
                                { "description": "Policy total taxes" }
                              ]
                            },
                            "insurance_type": {
                              "type": "string",
                              "description": "ID of the insurance type",
                              "example": "5056"
                            },
                            "purchase_type": {
                              "type": "string",
                              "enum": [
                                "renewal_upload",
                                "renewal",
                                "new_business",
                                "cross_sell"
                              ],
                              "nullable": true,
                              "description": "Origin of the policy"
                            },
                            "renewal_flow": {
                              "type": "string",
                              "enum": ["auto", "nonauto"],
                              "description": "Renewal type",
                              "nullable": true
                            },
                            "billing_carrier_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID of the billing carrier"
                            },
                            "issuing_carrier_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID of the issuing carrier"
                            },
                            "finance_contract_number": {
                              "type": "string",
                              "example": "tCBalhle",
                              "description": "Finance Contract #"
                            },
                            "intermediary_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID of the intermediary"
                            },
                            "billing_type": {
                              "type": "string",
                              "enum": ["Direct", "Agency", "Unknown"],
                              "description": "Type of billing"
                            },
                            "invoiced_by": {
                              "type": "string",
                              "enum": [
                                "Carrier",
                                "Coverwallet",
                                "Premium Finance Company",
                                "External PAS",
                                "Account Current",
                                "Unknown"
                              ],
                              "description": "Type of billing"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The data provided is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The corresponding object has not been found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The conflict data provided",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "Field, method, or service that originates the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of error. Should include a value defined in the catalog of errors"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message that gives additional information about the error"
                          }
                        },
                        "required": ["type", "message"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Policy"],
        "summary": "Fetch a policy",
        "description": "Fetch a policy by external ID",
        "operationId": "list_policy_by_external_id",
        "security": [{ "oauth2": ["admin:policy"] }],
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "type": "string",
            "description": "The external ID of the policy you are looking for",
            "required": true
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string", "format": "uuid" }
                            },
                            "required": ["id"]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string", "format": "uuid" },
                              "external_id": {
                                "type": "string",
                                "example": "POL-9235325",
                                "description": "External policy id"
                              },
                              "policy_number": {
                                "type": "string",
                                "example": "200000096428",
                                "description": "Policy number"
                              },
                              "account_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Coverwallet Id of the related account"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Pre-bind",
                                  "Active",
                                  "Reinstated",
                                  "In cancellation process",
                                  "Expired",
                                  "Flat Cancelled",
                                  "Cancelled"
                                ],
                                "example": "Expired",
                                "description": "Policy status"
                              },
                              "effective_date": {
                                "type": "string",
                                "format": "date",
                                "description": "Policy effective date"
                              },
                              "expiration_date": {
                                "type": "string",
                                "format": "date",
                                "description": "Policy expiration date"
                              },
                              "cancellation_date": {
                                "type": "string",
                                "format": "date",
                                "description": "Policy cancellation date"
                              },
                              "premium": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                        "format": "int32",
                                        "example": 9995
                                      },
                                      "currency": {
                                        "type": "string",
                                        "description": "3 letter currency code as defined by ISO-4217",
                                        "format": "iso-4217",
                                        "example": "USD"
                                      }
                                    },
                                    "required": ["amount", "currency"]
                                  },
                                  { "description": "Policy net premium" }
                                ]
                              },
                              "taxes": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                        "format": "int32",
                                        "example": 9995
                                      },
                                      "currency": {
                                        "type": "string",
                                        "description": "3 letter currency code as defined by ISO-4217",
                                        "format": "iso-4217",
                                        "example": "USD"
                                      }
                                    },
                                    "required": ["amount", "currency"]
                                  },
                                  { "description": "Policy total taxes" }
                                ]
                              },
                              "fees": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "description": "Amount expressed in cents. For example 100.00 has to be input as 10000",
                                        "format": "int32",
                                        "example": 9995
                                      },
                                      "currency": {
                                        "type": "string",
                                        "description": "3 letter currency code as defined by ISO-4217",
                                        "format": "iso-4217",
                                        "example": "USD"
                                      }
                                    },
                                    "required": ["amount", "currency"]
                                  },
                                  { "description": "Policy total taxes" }
                                ]
                              },
                              "insurance_type": {
                                "type": "string",
                                "description": "ID of the insurance type",
                                "example": "5056"
                              },
                              "purchase_type": {
                                "type": "string",
                                "enum": [
                                  "renewal_upload",
                                  "renewal",
                                  "new_business",
                                  "cross_sell"
                                ],
                                "nullable": true,
                                "description": "Origin of the policy"
                              },
                              "renewal_flow": {
                                "type": "string",
                                "enum": ["auto", "nonauto"],
                                "description": "Renewal type",
                                "nullable": true
                              },
                              "billing_carrier_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "ID of the billing carrier"
                              },
                              "issuing_carrier_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "ID of the issuing carrier"
                              },
                              "finance_contract_number": {
                                "type": "string",
                                "example": "tCBalhle",
                                "description": "Finance Contract #"
                              },
                              "intermediary_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "ID of the intermediary"
                              },
                              "billing_type": {
                                "type": "string",
                                "enum": ["Direct", "Agency", "Unknown"],
                                "description": "Type of billing"
                              },
                              "invoiced_by": {
                                "type": "string",
                                "enum": [
                                  "Carrier",
                                  "Coverwallet",
                                  "Premium Finance Company",
                                  "External PAS",
                                  "Account Current",
                                  "Unknown"
                                ],
[...]
