{"openapi":"3.0.2","info":{"version":"1.0.0","title":"Coverwallet OpenAPI","x-logo":{"url":"https://www.coverwallet.com/assets/new-home/coverwallet_logo_negative-1ab94c362a7dcbf886eb51f48ff0d784cff7c5b45eeaa43a508bf359a02f2b29.svg","backgroundColor":"#428ad8"},"description":"### Authentication\n\nAll endpoints - except the access token generation - require the\nAPI client to send a valid access token in the `Authorization` header.\nThis token is obtained using the [authentication endpoint](#/Authentication/get_access_token)\nand expires after 30 minutes. A new access token can be generated at any time,\nwhen the previous one has expired. Generating a new access token does not expire\nany existing token, so multiple valid access token can coexist.\n\n### Idempotency\n\nSome endpoints require the API client to send an idempotency key in the `X-IdempotencyKey`\nheader to uniquely identify a request.\n\n### Error handling\n\nAll errors returned by the API endpoints follow the same structure:\n* **source**: Indicates the field or operation where the error happened. Usually, it contains the name of a field where a validation error happened.\n* **type**: A string with capital letters that identifies the kind of error that happened. The description of every error type can be found in the table below.\n* **message**: A human-readable description of the error. This description may change over time to make it more comprehensible, so it should not be used by API clients to understand the error that happened.\n\n```\n  {\n    \"source\": \"industry\",\n    \"type\": \"VALIDATION\",\n    \"message\": \"Industry Subindustry is not a valid UUID\"\n  }\n```\n\n<details>\n| Error type        | Description                                                                                                                                                                       |\n|------------------ |---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  |\n| VALIDATION        | The data provided in the request is not valid according to the documentation. The field where the violation happened should be described in the `source` property of the error.     |\n| MISSING_PARAMETER | A required parameter was not sent to the API.\n| DUPLICATED        | The data provided in the request is not valid according to the documentation. Some fields should be unique.  |\n| INTERNAL_SERVER_ERROR | An error happened in the API servers. The system administrator has been notified. |\n| RECORD_NOT_FOUND | The record cannot be found in our system. Please, make sure that the identifier of the record is correct. |\n| MISSING_SCOPE | The scope(s) needed to use a certain endpoint cannot be found in the access token. Please, make sure that your user has access to the scope needed in that endpoint, and it is requested during the API login process |\n| INVALID_SCOPE | At least one of the requested scopes is invalid, unknown, malformed, or not granted to the application |\n| INVALID_TOKEN | The access token is not correct, a new one needs to be requested. This error normally happens when the original access token expires after 30 minutes. |\n| MISSING_IDEMPOTENCY_KEY | The idempotency key is missing. Please, make sure to set X-IdempotencyKey header for this endpoint. |\n| REUSED_IDEMPOTENCY_KEY | The provided idempotency key has already been used in another request with a different body. |\n</details>\n"},"tags":[{"name":"Account","description":"Operations about account"},{"name":"Policy","description":"Operations about policy"},{"name":"Payment Transactions","description":"Operations about payment transactions"},{"name":"Certificates","description":"Operations about certificates"},{"name":"Invoices","description":"Operations about invoices"},{"name":"Quote","description":"Operations about quote"},{"name":"Endorsements","description":"Changes about policy"},{"name":"Servicing","description":"Operations about servicing"},{"name":"Catalog","description":"Operations to request misc resources"},{"name":"Authentication","description":"Operations to request access token"},{"name":"Subscriptions","description":"Configuration of event subscriptions"},{"name":"Payment methods","description":"Configuration of payment methods"},{"name":"Agent","description":"Operations about agent"}],"servers":[{"url":"https://public-api.aoncover.biz/v1"},{"url":"https://public-api.coveriq.info/v1"}],"paths":{"/oauth/token":{"post":{"tags":["Authentication"],"summary":"Get an access token","description":"Exchange your email and password by an access token that can be used to authenticate subsequent requests.","operationId":"get_access_token","requestBody":{"description":"Get an access token","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"grant_type":{"type":"string","example":"password","enum":["password"]},"username":{"type":"string","example":"foo@bar.com"},"password":{"type":"string","format":"password","example":"my-secret-password"},"scope":{"type":"string","example":"admin:account admin:policy","description":"A list of scopes required for this access token. If no scope is provided, all available scopes will be included."}},"required":["grant_type","username","password"]},{"type":"object","properties":{"grant_type":{"type":"string","example":"client_credentials","enum":["client_credentials"]},"client_id":{"type":"string","format":"uuid"},"client_secret":{"type":"string","format":"password"},"scope":{"type":"string","example":"admin:account admin:policy","description":"A list of scopes required for this access token. If no scope is provided, all available scopes will be included."}},"required":["grant_type","client_id","client_secret"]}]},"examples":{"resource_owner_credentials":{"summary":"Resource owner credentials","value":{"grant_type":"password","username":"foo@bar.com","password":"p4ssw0rd","scope":"admin:account"}},"client_credentials":{"summary":"Client credentials","value":{"grant_type":"client_credentials","client_id":"54f52c33-61ed-46d4-8796-eb8a30e90fe0","client_secret":"hNObhQFv5M82euBYzaxo0b9fyl8cs1CWBWHE4_sThXQ","scope":"admin:account"}}}}},"required":true},"responses":{"200":{"description":"Access token successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string","description":"A JWT access token that should be included as a Bearer token in the Authorization header of subsequent requests"},"token_type":{"type":"string","example":"Bearer"},"expires_in":{"type":"integer","example":1800,"description":"The expiration time since the access token was created, in seconds"},"scope":{"type":"string","example":"admin:account admin:policy","description":"The list of scopes present in the access token"},"created_at":{"type":"integer","example":1613989930,"description":"The UTC representation of the moment when the access token was created. It should be used together with the expires_in parameter to determine when an access token is going to expire"}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"401":{"description":"The authentication information sent is incorrect or missing","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"500":{"description":"There was an error in our servers","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/accounts":{"post":{"tags":["Account"],"summary":"Add a new account","description":"Add a new account","operationId":"add_account","security":[{"oauth2":["admin:account"]}],"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Create a new account","content":{"application/json":{"schema":{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}}},"required":true},"responses":{"201":{"description":"Account successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}]}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"409":{"description":"Duplicated external_id","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"An account with this external_id already exist"}}}}}}}},"get":{"tags":["Account"],"summary":"Fetch an account","description":"Fetch an account by external ID","operationId":"list_account_by_external_id","security":[{"oauth2":["admin:account"]}],"parameters":[{"name":"external_id","in":"query","type":"string","description":"The external ID of the account you are looking for","required":true}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}]}}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/accounts/{id}":{"get":{"tags":["Account"],"summary":"Fetch an account","description":"Fetch an existing account by ID.","operationId":"get_account","security":[{"oauth2":["admin:account"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"The ID of the account you are looking for"}],"responses":{"200":{"description":"Account successfully fetched","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}]}}}}}},"404":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}},"patch":{"tags":["Account"],"summary":"Update an account","description":"Update an existing account. All fields are optional.","operationId":"update_account","security":[{"oauth2":["admin:account"]}],"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The account ID"}],"requestBody":{"description":"Update an account","content":{"application/json":{"schema":{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}}},"required":true},"responses":{"200":{"description":"Account successfully updated","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}]}}}}}},"404":{"description":"The corresponding object has not been found","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/accounts/{id}/contacts":{"post":{"deprecated":true,"tags":["Account"],"summary":"Add a contact. Deprecated in favor of \"POST /contacts\"","description":"Add a contact","operationId":"deprecated_add_contact","security":[{"oauth2":["admin:account"]}],"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The account ID"}],"requestBody":{"description":"Update a contact","content":{"application/json":{"schema":{"type":"object","properties":{"relationship":{"type":"string","enum":["primary","driver","owner","other"],"default":"primary"},"first_name":{"type":"string","example":"firstName"},"last_name":{"type":"string","example":"lastName"},"email":{"type":"string","format":"email","example":"sample_mail@mail.com"},"communications_opt_out":{"type":"string","enum":["email","sms","all","none"],"default":"none"},"contact_numbers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["phone","extension","mobile","fax","other"]},"number":{"type":"string","description":"A phone number in E.164 format","example":"+61285993444"}},"required":["type","number"]}}}}}},"required":true},"responses":{"201":{"description":"Contact successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"relationship":{"type":"string","enum":["primary","driver","owner","other"],"default":"primary"},"first_name":{"type":"string","example":"firstName"},"last_name":{"type":"string","example":"lastName"},"email":{"type":"string","format":"email","example":"sample_mail@mail.com"},"communications_opt_out":{"type":"string","enum":["email","sms","all","none"],"default":"none"},"contact_numbers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["phone","extension","mobile","fax","other"]},"number":{"type":"string","description":"A phone number in E.164 format","example":"+61285993444"}},"required":["type","number"]}}}}]}}}}}},"404":{"description":"The corresponding object has not been found","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/accounts/{id}/policies":{"get":{"tags":["Account"],"summary":"Retrieve policies of an account","description":"Retrieve policies of an account","security":[{"oauth2":["admin:policy"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The uuid of the account"}],"responses":{"200":{"description":"Policies successfully fetched","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}]}}}}}}},"404":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/accounts/{id}/servicing":{"post":{"tags":["Account"],"summary":"Set servicing data","description":"# Servicing API\n\nThe use of this API is to change the servicing information of an account. This can include changing any of this data:\n\n* Account owner\n* Account advisor\n* Account segmentation fiels: segment, branch and business unit\n\nWhen the account is successfully updated a http 200 response code is returned\n\nIf either the account, the advisor or the owner are not found, a 404 http error code is returned and the detail of what has not been found is provided in the error object\n","operationId":"set_servicing","security":[{"oauth2":["admin:account"]}],"requestBody":{"description":"New servicing data for the account","content":{"application/json":{"schema":{"type":"object","properties":{"owner_username":{"type":"string","format":"email","description":"Account owner"},"advisor_username":{"type":"string","format":"email","description":"Account advisor"},"business_unit":{"type":"string","description":"Business unit where the account belongs to (e.g. Commercial, Affinities)","example":"Affinities"},"branch":{"type":"string","description":"Branch where the account belongs to. Usually is is associated to a physical area","example":"Parramata"},"segment":{"type":"string","description":"Segment where the account belongs to (e.g. RealEstate, SMEs, Professional)","example":"RealEstate"}}}}},"required":true},"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The account ID"}],"responses":{"200":{"description":"Account servicing data successfully updated","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"owner_username":{"type":"string","format":"email","description":"Account owner"},"advisor_username":{"type":"string","format":"email","description":"Account advisor"},"business_unit":{"type":"string","description":"Business unit where the account belongs to (e.g. Commercial, Affinities)","example":"Affinities"},"branch":{"type":"string","description":"Branch where the account belongs to. Usually is is associated to a physical area","example":"Parramata"},"segment":{"type":"string","description":"Segment where the account belongs to (e.g. RealEstate, SMEs, Professional)","example":"RealEstate"}}}}}}}},"404":{"description":"The corresponding object has not been found","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/policies":{"post":{"tags":["Policy"],"summary":"Add a new policy","description":"This endpoints creates a new policy and returns the data of the policy created including the policy_id that needs to be used later for policy updates.\n\nThe external_id field should be unique\n","operationId":"add_policy","security":[{"oauth2":["admin:policy"]}],"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Policy data","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}}},"required":true},"responses":{"201":{"description":"Policy successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}]}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"404":{"description":"The corresponding object has not been found","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"409":{"description":"The conflict data provided","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}},"get":{"tags":["Policy"],"summary":"Fetch policies filtered by query params","description":"Fetch policies filtering by any of the supported parameters listed below. If no parameters are provided, no policies will be returned and a error will be triggered.","operationId":"list_policies_by_filter","security":[{"oauth2":["admin:policy"]}],"parameters":[{"name":"external_id","in":"query","schema":{"type":"string","example":"POL-9235325"},"description":"The external ID of the policy you are looking for"},{"name":"policy_number","in":"query","schema":{"type":"string","example":"200000096428"},"description":"The number of the policy you are looking for"},{"name":"effective_date","in":"query","schema":{"type":"string","format":"date","example":"2017-02-21"},"description":"The effective date of the policy you are looking for. This parameter cannot be used alone. It must be used with one of the other parameters."}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}]}}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/policies/{id}":{"get":{"tags":["Policy"],"summary":"Fetch a policy","description":"Fetch an existing policy by ID.","operationId":"get_policy","security":[{"oauth2":["admin:policy"]}],"parameters":[{"in":"path","name":"id","format":"uuid","required":true,"schema":{"type":"string"},"description":"The ID of the policy you are looking for"}],"responses":{"200":{"description":"Policy successfully fetched","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}]}}}}}}},"404":{"description":"The corresponding object has not been found","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/policies/{id}/endorsements":{"get":{"tags":["Policy"],"summary":"Retrieve endorsements of a policy","description":"Retrieve endorsements of a policy","security":[{"oauth2":["admin:policy"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The uuid of the policy"}],"responses":{"200":{"description":"Endorsements successfully fetched","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID of the endorsement"},"policy_id":{"type":"string","format":"uuid","description":"UUID of the policy endorsement belongs to"},"account_id":{"type":"string","format":"uuid","description":"UUID of the account"},"status":{"type":"string","enum":["Not started","Pending payment","Under review","Approved","Payment Not Collected","Not needed","Voided","In Progress"],"nullable":true},"audit_turnback_status":{"type":"string","enum":["Requested","Accepted","Rejected"]},"endorsement_number":{"type":"string","example":"2017.02.21-345754"},"type_of_change":{"type":"string","enum":["Policy Change","Cancellation","Audit","New policy","Reinstatement"]},"processed_date":{"type":"string","format":"date-time","example":"2022-08-01T14:57:28Z"},"description":{"type":"string","example":"<p>added policy document to related files in new policy endorsement</p>"},"effective_date":{"type":"string","format":"date","example":"2017-02-21"},"approved_date":{"type":"string","format":"date","example":"2017-02-21"},"premium_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"taxes_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fees_change":{"type":"object","properties":{"carrier":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"external_agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]}}},"financed_amount":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"correction_of_endorsement_id":{"type":"string","format":"uuid"}},"required":["id","policy_id","account_id","status","audit_turnback_status","endorsement_number","type_of_change","processed_date","description","effective_date","approved_date","premium_change","taxes_change","fees_change"]}]}}}}}},"404":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/policies/{id}/payments":{"get":{"tags":["Policy"],"summary":"Fetch a list of policy payments","description":"Fetch a list of policy payments","operationId":"list_policy_payments","security":[{"oauth2":["admin:policy"]}],"parameters":[{"in":"path","name":"id","format":"uuid","required":true,"schema":{"type":"string"},"description":"The ID of the policy you are looking for its payments"}],"responses":{"200":{"description":"List of payments successfully fetched","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"payment_date":{"type":"string","format":"date","example":"2021-07-17"},"policy_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["Succeeded","Failed","Pending","Disputed","Billing Approved","Not Collected","Requested"],"nullable":true},"account_id":{"type":"string","format":"uuid"},"amount":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Payment amount"}]},"payment_method":{"type":"string","enum":["Card","Bank account","Bank transfer","Check","Account Current","Paypal"]},"payment_type":{"type":"string","enum":["Stripe","Carrier Portal","Premium Finance Portal","Other","Paypal"]},"payment_concept":{"type":"string","example":"Paid in full"},"endorsement_id":{"type":"string","format":"uuid"},"related_voided_endorsement_id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"ca_1JG2gsLIytkrERiMDJalJXui"},"effective_payment_date":{"type":"string","format":"date","example":"2021-07-17"},"payment_transaction_id":{"type":"string","format":"uuid"}}}]}}}}}}}}}},"/carriers":{"get":{"tags":["Catalog"],"summary":"Fetch carriers list","description":"Fetch carriers list","operationId":"list_carriers","security":[{"oauth2":[[]]}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"name":{"type":"string","format":"email","description":"Carrier name","example":"ACE Property & Casualty Insurance Company (SCI)"},"id":{"type":"string","format":"uuid","description":"Carrier id","example":"ff4b7dcb-07ce-407e-9ac2-a0a4af3f0d8a"}}}]}}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/insurance_types":{"get":{"tags":["Catalog"],"summary":"Fetch insurance types list","description":"Fetch insurance types list","operationId":"list_insurance_types","security":[{"oauth2":[[]]}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"name":{"type":"string","format":"email","description":"Insurance type name","example":"General Liability"},"id":{"type":"string","description":"Insurance type id","example":"cdc54033-84d3-4ad1-9139-18ab8d5df1c1"}}}]}}}}}}},"400":{"description":"The data provided is not valid","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}}}},"/intermediaries":{"get":{"tags":["Catalog"],"summary":"Fetch intermediaries list","description":"Fetch intermediaries list","operationId":"list_intermediaries","security":[{"oauth2":[[]]}],"produces":["application/json"],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"data":{"type":"array","items":{"allOf":[{"type":"object","properties":{"name":{"type":"string","format":"email","description":"Intermediary name","example":"Russell Bond"},"id":{"type":"string","description":"Intermediary id","example":"da46dd62-3eec-4398-a18b-2b978961235b"}}}]}}}}}}}}}},"/subscriptions":{"post":{"tags":["Subscriptions"],"summary":"Add a new subscription","description":"Add a new subscription","operationId":"add_subscription","security":[{"oauth2":["admin:subscription"]}],"parameters":[{"in":"header","name":"X-IdempotencyKey","description":"Idempotency key to uniquely identify a request","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Create a new subscription","content":{"application/json":{"schema":{"type":"object","properties":{"endpoint":{"type":"string","format":"uri","example":"https://myserver.com/send/callback/here","description":"The URI where the webhook will be sent when an event happens"},"events":{"type":"array","description":"The list of events that should trigger a webhook to the endpoint provided","items":{"type":"string","enum":["policy.created","policy.updated","policy.neverCompleted"]}},"notify_on_error_email":{"type":"string","format":"email","example":"user@example.com","description":"When the subscribed endpoint does not return a valid response. An email will be sent notifying the lost event."}},"required":["endpoint","events"]}}},"required":true},"responses":{"201":{"description":"Subscription successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"endpoint":{"type":"string","format":"uri","example":"https://myserver.com/send/callback/here","description":"The URI where the webhook will be sent when an event happens"},"events":{"type":"array","description":"The list of events that should trigger a webhook to the endpoint provided","items":{"type":"string","enum":["policy.created","policy.updated","policy.neverCompleted"]}},"notify_on_error_email":{"type":"string","format":"email","example":"user@example.com","description":"When the subscribed endpoint does not return a valid response. An email will be sent notifying the lost event."}},"required":["endpoint","events"]},{"type":"object","properties":{"signing_key":{"type":"string","pattern":"^[a-zA-Z0-9]{90}$","example":"OPO8vqr8wL1aJjHmw6HfGY8C3gxhGqWekiIoduko02BilgIxvjGAZUo4BLQ3JG58joY48vsYCxOgDs5nqJaTzkbfrC"}}}]}}}}}},"400":{"description":"The event is not supported","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}},"409":{"description":"The conflict data provided","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","description":"Field, method, or service that originates the error"},"type":{"type":"string","description":"Type of error. Should include a value defined in the catalog of errors"},"message":{"type":"string","description":"Message that gives additional information about the error"}},"required":["type","message"]}}}}}}}},"callbacks":{"account.updated":{"{$request.body#/AccountUpdatedEndpoint}":{"post":{"parameters":[{"in":"header","description":"A signature of the request body that must be validated to guarantee:\n  - The request comes from our servers\n  - The request has not been modified after it left our servers\n\n<details>\n  The value of the header will have the following format: t=timestamp,v1=signature, where t is the timestamp of the instant where the signature was created, and signature is calculated as follows:\n\n  ```\n  SHA3-512(t + \".\" + body + \".\" + signing_key)\n  ```\n  where t is the UTC timestamp of the server at the time of signature generation.\n\n  For example, assuming:\n\n  ```\n  t = 1614615808\n  body = {\"foo\":\"bar\"}\n  signing_key = 8lmFHa6wHcQ5ROigRWG5hOtTSs5yNfgtKqnG0RPLRBAmkCg2rv4KmuxWKE9ie6eEYbLVCt57R8jxhcgXcrGM7rpoqi\n  ```\n  \n  The computed signature would be:\n  ```\n  b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n  and the value of the header should be:\n  ```\n  X-Signature: t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n</details>\n","name":"X-Signature","required":true,"schema":{"type":"string","example":"t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}},{"type":"object","properties":{"changed":{"type":"object","properties":{"external_id":{"type":"string","example":"684365684_2020","description":"ID from the main external system that associates this account in this business.\nIf you plan to use this value you need to discuss with CW\n"},"business_information":{"type":"object","properties":{"name":{"type":"string","example":"My Business Name","description":"Name of the company"},"type":{"type":"string","example":"Individual","description":"Type of company:\n  * May be one of the following:\n      - Individual\n      - Corporation\n      - Limited Liability Company\n      - Limited Partnership\n      - Non-Profit\n      - Partnership\n      - Trust\n      - Other\n"},"website":{"type":"string","example":"www.mybusiness.com"},"identification_number":{"type":"string","example":"1213453-X"},"year_established":{"type":"number","format":"int32","example":2020},"years_of_experience":{"type":"number","format":"int32","example":2},"annual_revenue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fulltime_employees":{"type":"integer","format":"int32","example":5,"description":"Number of fulltime employees"},"parttime_employees":{"type":"integer","format":"int32","example":10,"description":"Number of parttime employees"},"employees_annual_payroll":{"type":"number","format":"int32","example":20000}},"required":["name"]},"industry":{"type":"object","properties":{"type":{"type":"string","enum":["sic","naics","naf","anzsic"],"example":"naics","description":"Industry classification system"},"class_code":{"type":"string","example":"cc1","description":"Class Code of the industry"},"subclass_code":{"type":"string","example":"scc1","description":"Subclass Code of the industry"},"code":{"type":"string","description":"Validations: \n  * **naics**: 6 digits\n"}}},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","default":"billing","enum":["mailing","billing"]},"address_line":{"type":"string","description":"Street number and street name","example":"935 Madison Ave"},"city":{"type":"string","example":"New York"},"state":{"type":"string","example":"NY"},"country_code":{"type":"string","description":"Country code component of an address\n  * Must be a valid ISO 3166-1 Alpha-2 country code\n","example":"US"},"postal_code":{"type":"string","description":"Postcode or ZIP code of an address","example":"10065"}},"required":["address_line"]}},"email":{"type":"string","example":"sample_mail@mail.com","format":"email"},"phone_number":{"type":"string","example":"+61285993444","description":"Account main phone number:\n  * May have up to 17 characters including special ones\n  * May have blocks separated by dashes or blank spaces\n  * May include a block surrounded by parentheses\n  * May include country code\n  * There cannot be two consecutive spaces or dashes\n  * There cannot be more than one block surrounded by parentheses\n"}}}}}]}}},{"type":"object","properties":{"created":{"type":"integer","example":1614615808,"description":"Timestamp of the moment when the event happened"},"subscription_id":{"type":"string","format":"uuid","description":"The ID of the subscription that triggered the callback"},"event_name":{"type":"string","enum":["policy.approved","policy.created","policy.cancelled","policy.reinstated"],"example":"policy.approved","description":"The name of the event that triggered the callback"}},"required":["created","subscription_id","event_name"]}]}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}}},"endorsement.updated":{"{$request.body#/EndorsementUpdatedEndpoint}":{"post":{"parameters":[{"in":"header","description":"A signature of the request body that must be validated to guarantee:\n  - The request comes from our servers\n  - The request has not been modified after it left our servers\n\n<details>\n  The value of the header will have the following format: t=timestamp,v1=signature, where t is the timestamp of the instant where the signature was created, and signature is calculated as follows:\n\n  ```\n  SHA3-512(t + \".\" + body + \".\" + signing_key)\n  ```\n  where t is the UTC timestamp of the server at the time of signature generation.\n\n  For example, assuming:\n\n  ```\n  t = 1614615808\n  body = {\"foo\":\"bar\"}\n  signing_key = 8lmFHa6wHcQ5ROigRWG5hOtTSs5yNfgtKqnG0RPLRBAmkCg2rv4KmuxWKE9ie6eEYbLVCt57R8jxhcgXcrGM7rpoqi\n  ```\n  \n  The computed signature would be:\n  ```\n  b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n  and the value of the header should be:\n  ```\n  X-Signature: t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n</details>\n","name":"X-Signature","required":true,"schema":{"type":"string","example":"t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID of the endorsement"},"policy_id":{"type":"string","format":"uuid","description":"UUID of the policy endorsement belongs to"},"account_id":{"type":"string","format":"uuid","description":"UUID of the account"},"status":{"type":"string","enum":["Not started","Pending payment","Under review","Approved","Payment Not Collected","Not needed","Voided","In Progress"],"nullable":true},"audit_turnback_status":{"type":"string","enum":["Requested","Accepted","Rejected"]},"endorsement_number":{"type":"string","example":"2017.02.21-345754"},"type_of_change":{"type":"string","enum":["Policy Change","Cancellation","Audit","New policy","Reinstatement"]},"processed_date":{"type":"string","format":"date-time","example":"2022-08-01T14:57:28Z"},"description":{"type":"string","example":"<p>added policy document to related files in new policy endorsement</p>"},"effective_date":{"type":"string","format":"date","example":"2017-02-21"},"approved_date":{"type":"string","format":"date","example":"2017-02-21"},"premium_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"taxes_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fees_change":{"type":"object","properties":{"carrier":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"external_agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]}}},"financed_amount":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"correction_of_endorsement_id":{"type":"string","format":"uuid"}},"required":["id","policy_id","account_id","status","audit_turnback_status","endorsement_number","type_of_change","processed_date","description","effective_date","approved_date","premium_change","taxes_change","fees_change"]},{"type":"object","properties":{"changed":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID of the endorsement"},"policy_id":{"type":"string","format":"uuid","description":"UUID of the policy endorsement belongs to"},"account_id":{"type":"string","format":"uuid","description":"UUID of the account"},"status":{"type":"string","enum":["Not started","Pending payment","Under review","Approved","Payment Not Collected","Not needed","Voided","In Progress"],"nullable":true},"audit_turnback_status":{"type":"string","enum":["Requested","Accepted","Rejected"]},"endorsement_number":{"type":"string","example":"2017.02.21-345754"},"type_of_change":{"type":"string","enum":["Policy Change","Cancellation","Audit","New policy","Reinstatement"]},"processed_date":{"type":"string","format":"date-time","example":"2022-08-01T14:57:28Z"},"description":{"type":"string","example":"<p>added policy document to related files in new policy endorsement</p>"},"effective_date":{"type":"string","format":"date","example":"2017-02-21"},"approved_date":{"type":"string","format":"date","example":"2017-02-21"},"premium_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"taxes_change":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"fees_change":{"type":"object","properties":{"carrier":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"external_agency":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]}}},"financed_amount":{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},"correction_of_endorsement_id":{"type":"string","format":"uuid"}},"required":["id","policy_id","account_id","status","audit_turnback_status","endorsement_number","type_of_change","processed_date","description","effective_date","approved_date","premium_change","taxes_change","fees_change"]}}}]}}},{"type":"object","properties":{"created":{"type":"integer","example":1614615808,"description":"Timestamp of the moment when the event happened"},"subscription_id":{"type":"string","format":"uuid","description":"The ID of the subscription that triggered the callback"},"event_name":{"type":"string","enum":["policy.approved","policy.created","policy.cancelled","policy.reinstated"],"example":"policy.approved","description":"The name of the event that triggered the callback"}},"required":["created","subscription_id","event_name"]}]}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}}},"policy.approved":{"{$request.body#/PolicyApprovedEndpoint}":{"post":{"parameters":[{"in":"header","description":"A signature of the request body that must be validated to guarantee:\n  - The request comes from our servers\n  - The request has not been modified after it left our servers\n\n<details>\n  The value of the header will have the following format: t=timestamp,v1=signature, where t is the timestamp of the instant where the signature was created, and signature is calculated as follows:\n\n  ```\n  SHA3-512(t + \".\" + body + \".\" + signing_key)\n  ```\n  where t is the UTC timestamp of the server at the time of signature generation.\n\n  For example, assuming:\n\n  ```\n  t = 1614615808\n  body = {\"foo\":\"bar\"}\n  signing_key = 8lmFHa6wHcQ5ROigRWG5hOtTSs5yNfgtKqnG0RPLRBAmkCg2rv4KmuxWKE9ie6eEYbLVCt57R8jxhcgXcrGM7rpoqi\n  ```\n  \n  The computed signature would be:\n  ```\n  b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n  and the value of the header should be:\n  ```\n  X-Signature: t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9\n  ```\n</details>\n","name":"X-Signature","required":true,"schema":{"type":"string","example":"t=1614615808,v1=b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce71222fea932db686a597839664e18b9"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"data":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"required":["id"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"external_id":{"type":"string","example":"POL-9235325","description":"External policy id"},"policy_number":{"type":"string","example":"200000096428","description":"Policy number"},"account_id":{"type":"string","format":"uuid","description":"Coverwallet Id of the related account"},"status":{"type":"string","enum":["Pre-bind","Active","Reinstated","In cancellation process","Expired","Flat Cancelled","Cancelled"],"example":"Expired","description":"Policy status"},"effective_date":{"type":"string","format":"date","description":"Policy effective date"},"expiration_date":{"type":"string","format":"date","description":"Policy expiration date"},"cancellation_date":{"type":"string","format":"date","description":"Policy cancellation date"},"premium":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy net premium"}]},"taxes":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"fees":{"allOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Amount expressed in cents. For example 100.00 has to be input as 10000","format":"int32","example":9995},"currency":{"type":"string","description":"3 letter currency code as defined by ISO-4217","format":"iso-4217","example":"USD"}},"required":["amount","currency"]},{"description":"Policy total taxes"}]},"insurance_type":{"type":"string","description":"ID of the insurance type","example":"5056"},"purchase_type":{"type":"string","enum":["renewal_upload","renewal","new_business","cross_sell"],"nullable":true,"description":"Origin of the policy"},"renewal_flow":{"type":"string","enum":["auto","nonauto"],"description":"Renewal type","nullable":true},"billing_carrier_id":{"type":"string","format":"uuid","description":"ID of the billing carrier"},"issuing_carrier_id":{"type":"string","format":"uuid","description":"ID of the issuing carrier"},"finance_contract_number":{"type":"string","example":"tCBalhle","description":"Finance Contract #"},"intermediary_id":{"type":"string","format":"uuid","description":"ID of the intermediary"},"billing_type":{"type":"string","enum":["Direct","Agency","Unknown"],"description":"Type of billing"},"invoiced_by":{"type":"string","enum":["Carrier","Coverwallet","Premium Finance Company","External PAS","Account Current","Unknown"],"description":"Type of billing"},"line_of_business":{"type":"object","properties":{"professional_liability":{"type":"object","properties":{"occurrence_limit":{"type":"number","format":"int32","example":5555},"aggregate_limit":{"type":"number","format":"int32","example":8888}}}}},"policy_document_link":{"type":"string","description":"Policy document link","example":"https://documents.coverwallet.biz/files/RTLAZF030692355.pdf"}}}]}}},{"type":"object","properties":{"created":{"type":"integer","example":1614615808,"description":"Timestamp of the moment when the event happened"},"subscription_id":{"type":"string","format":"uuid","description":"The ID of the subscription that triggered the callback"},"event_name":{"type":"string","enum":["policy.approved","policy.created","policy.cancelled","policy.reinstated"],"example":"policy.approved","description":"The name of the event that triggered the callback"}},"required":["created","subscription_id","event_name"]}]}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}}},"policy.created":{"{$request.body#/PolicyCreatedEndpoint}":{"post":{"parameters":[{"in":"header","description":"A signature of the request body that must be validated to guarantee:\n  - The request comes from our servers\n  - The request has not been modified after it left our servers\n\n<details>\n  The value of the header will have the following format: t=timestamp,v1=signature, where t is the timestamp of the instant where the signature was created, and signature is calculated as follows:\n\n  ```\n  SHA3-512(t + \".\" + body + \".\" + signing_key)\n  ```\n  where t is the UTC timestamp of the server at the time of signature generation.\n\n  For example, assuming:\n\n  ```\n  t = 1614615808\n  body = {\"foo\":\"bar\"}\n  signing_key = 8lmFHa6wHcQ5ROigRWG5hOtTSs5yNfgtKqnG0RPLRBAmkCg2rv4KmuxWKE9ie6eEYbLVCt57R8jxhcgXcrGM7rpoqi\n  ```\n  \n  The computed signature would be:\n  ```\n  b79932049ff24e184fbd9290def5e1636aff7aab587d3b16c5fdcd1e909dc42045d08b40ab987cef212a1f36738b127ce7122
[...]
